<div class="center jumbotron">
  <h1><%= t".welcome" %></h1>

  <h2>
    <%= t ".text1" %>
    <%= link_to t(".text2"), "https://www.amazon.com/ref=nav_logo" %>
    <%= t ".text3" %>.
  </h2>

  <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
