<%= form_for :order_item, url: cart_path, method: :put, remote: true do |f| %>
  <tr>
    <% load_product_details(products, order_item["product_id"].to_i) %>
    <td><%= @product[0].name %></td>
    <td><%= @product[0].description %></td>
    <td><%= @product[0].size %></td>
    <td><%= @product[0].color %></td>
    <td><%= number_to_currency @product[0].price %></td>
    <td><%= f.number_field :quantity, value: order_item["quantity"].to_i, min: Settings.product.min_quantity %></td>
    <td class="total"><%= number_to_currency order_item_total(order_item) %></td>
    <%= f.hidden_field :product_id, value: order_item["product_id"] %>
    <td><%= f.submit t(".update_quantity"), class: "btn btn-info" %></td>
    <td><%= link_to t(".remove"), order_item, data: {confirm: t(".confirm_remove")}, method: :delete %></td>
  </tr>
  <% @total += order_item_total(order_item) %>
<% end %>
