<h1><%= t ".header" %></h1>
<% if @cart_items.blank? || @cart_items.size == 0 %>
  <p><%= t ".no_items_in_cart" %></p>
  <%= link_to t(".back"), categories_path, class: "btn btn-primary" %>
<% else %>
  <div class="row justify-content-center">
    <table>
    <%= render "shared/product_header" %>
    <%= render partial: "cart_item", collection: @cart_items, as: :cart_item, locals: {products: @products} %>
    <tr>
      <th><%= t ".total" %></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id="cart-total"><%= number_to_currency show_total_in_cart(@products, @cart_items) %></td>
    </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= link_to t(".back"), categories_path, class: "btn btn-primary mx-5 px-5" %>
    <%= link_to t(".checkout"), new_order_path, class: "btn btn-success mx-5 px-5" %>
  </div>
<% end %>
