<p><%= t ".title_hello", email: @resource.email %></p>

<p><%= t ".notify_password_changed" %></p>

<p><%= link_to t(".title_change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".notify_user" %></p>
<p><%= t ".notify_ignore" %></p>
