<div id="rating-bars" class="row mb-5">
  <div class="side">
    <div><%= t ".five_star" %></div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div><%= show_five_star_reviews %></div>
  </div>
  <div class="side">
    <div><%= t ".four_star" %></div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div><%= show_four_star_reviews %></div>
  </div>
  <div class="side">
    <div><%= t ".three_star" %></div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div><%= show_three_star_reviews %></div>
  </div>
  <div class="side">
    <div><%= t ".two_star" %></div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div><%= show_two_star_reviews %></div>
  </div>
  <div class="side">
    <div><%= t ".one_star" %></div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div><%= show_one_star_reviews %></div>
  </div>
</div>
