<div class="container">
  <!--product view -->
  <h1 class="product_name"><%= @product.name %></h1>
  <table>
    <tr>
      <th><%= t ".description" %></th>
      <th><%= t ".size" %></th>
      <th><%= t ".color" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".unit_in_stock" %></th>
    </tr>
    <tr>
      <td><%= @product.description %></td>
      <td><%= @product.size %></td>
      <td><%= @product.color %></td>
      <td><%= number_to_currency @product.price %></td>
      <td class="text-right"><%= @product.unit_in_stock %></td>
    </tr>
  </table>
  <br>
  <%= form_for @order_item, url: cart_items_path, remote: true do |f| %>
    <div class="row adjust-height">
      <div class="col-md-1">
        <%= f.label :quantity, class: "h-100" %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :quantity, value: Settings.product.default_quantity, min: Settings.product.min_quantity, class: "h-100" %>
      </div>
      <%= f.hidden_field :price, value: @product.price %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <div class="col-md-2">
        <%= f.submit t(".add_to_cart"), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to t(".back"), categories_path, class: "btn btn-primary" %>
  <br>
  <hr>
  <!--rating star view -->
  <div class="row mt-5">
    <div class="container ml-0">
      <div class="row">
        <div class="col-md-3">
          <h5 class="btn btn-info"><%= t ".your_rating" %></h5>
        </div>
        <div class="col-md-9">
          <%= form_for [@product, @rating], remote: true do |f| %>
            <div class="row">
              <%= render partial: "star_rating" %>
              <div class="col-md-8">
                <%= f.submit t(".rate"), class: "col-md-2 btn btn-primary text-center", id: "btnrate" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr class="rating-horizontal">
      <!--rating sumarry view -->
      <div class="row">
        <div class="col-md-3">
          <h5 class="btn btn-info bg-secondary"><%= t ".rating_overview" %></h5>
        </div>
      </div>
      <div class="row ml-1">
        <p><%= t ".overview_analysis", average: show_average, size: show_reviews %></p>
        <%= hidden_field_tag :reviews, show_reviews, id: "reviews" %>
      </div>
      <hr class="overview-horizontal">
      <div id = "rating-statistic">
        <%= render partial: "rating_overview" %>
      </div>
    </div>
  </div>
</div>
<script src="../assets/rating.js" type="text/javascript"></script>
