<address class="footer-address">
    <div class="container">
        <div class="address-office">
            <i class="tikicon icon-location"></i>
            <div class="info-address">
                <p class="add-real">
                    <b><%= t ".address" %></b>
                    <%= t ".address_text" %>
                </p>
                <p>
                    <%= t ".location" %>
                </p>
            </div>
        </div>
        <div class="address-service">
            <div class="info-address">
                <p class="add-real">
                    <b><%= t ".address_return" %></b>
                    <%= t ".center_text" %>
                </p>
                <p>
                    <%= t ".text1" %>
                    <%= link_to t(".text2"), "https://tiki.vn/hau-mai" %>
                    <%= t ".text3" %>
                </p>
            </div>
        </div>
    </div>
</address>
