<header>
  <div class="container">
    <nav class="navbar navbar-fixed-top bg-custom">
    <%= link_to t(".store_name"), root_path, id: "logo" %>
    <ul class="navbar-nav navbar-right d-inline">
        <li class="d-inline mr-3"><%= link_to t(".home_page"), root_path %></li>
        <li class="d-inline mr-3"><%= link_to t(".categories"), categories_path %></li>
        <% if user_signed_in? %>
          <div class="dropdown d-inline mr-3">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= link_to current_user.email,"#", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" %>
            </a>
            <div id="account_menu" class="dropdown-menu dropdown-menu-right bg-custom">
              <%= link_to t(".profile_text"), current_user, class: "dropdown-item btn-outline-dark", type:"button" %>
              <%= link_to t(".setting_text"), edit_user_registration_path, class: "dropdown-item btn-outline-dark", type: "button" %>
              <% if current_user.admin? %>
                <%= link_to t(".dashboard"), "/admin", class: "dropdown-item btn-outline-dark", type: "button" %>
              <% else %>
                <%= link_to t(".order_history"), orders_path, class: "dropdown-item btn-outline-dark", type: "button" %>
              <% end %>
              <hr>
              <%= link_to t(".log_out_text"), destroy_user_session_path, method: :delete, class: "dropdown-item btn-outline-dark", type: "button" %>
            </div>
          </div>
        <% else %>
          <li class="d-inline mr-3"><%= link_to t(".log_in_text"), new_user_session_path %></li>
          <li class="d-inline mr-3"><%= link_to t(".sign_up"), new_user_registration_path %></li>
        <% end %>
        <li class="d-inline mr-3">
          <%= link_to cart_path do %>
            <b id = "cart_count"><span><%= cart_counter %></span></b>
            <%= image_tag("icon_home_cart.png") %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
